* {
  padding: 0;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
i,
em {
  font-style: normal;
}
nav,
header,
div,
span,
section {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
html {
  background-color: rgba(255, 240, 215, 0.1);
}
nav#top-nav {
  width: 100%;
  height: 70rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(250, 245, 230, 0.99);
}
nav#top-nav ul#top-nav-btn-box {
  margin-left: 210rem;
  float: left;
  overflow: hidden;
}
nav#top-nav ul#top-nav-btn-box li.top-nav-btn {
  width: 100rem;
  height: 70rem;
  line-height: 70rem;
  margin-right: 65rem;
  float: left;
  font-size: 23rem;
  font-family: "Raleway", "Roboto", "Trebuchet MS", "Verdana", "Heiti SC";
  color: #000;
  text-align: center;
}
nav#top-nav div#top-nav-chase-box {
  width: 70rem;
  height: 70rem;
  background-color: #fff;
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav#top-nav div#top-nav-chase-box div.top-nav-chase-earth {
  width: 55rem;
  height: 55rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: red;
}
nav#top-nav div#top-nav-chase-box div.top-nav-chase-plane {
  width: 52rem;
  height: 52rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  background-color: blue;
}
nav#top-nav div#top-nav-chase-box img {
  width: 100%;
  height: 100%;
}
nav#top-nav ul#top-nav-share-box {
  width: 200rem;
  height: 70rem;
  background-color: #000;
  margin-right: 210rem;
  float: right;
}
header#top-header {
  width: 100%;
  height: 1050rem;
  background-color: #faf5e6;
  position: relative;
  overflow: hidden;
}
header#top-header div#top-header-bg {
  width: 100%;
  height: 1050rem;
  position: absolute;
  left: 0;
  top: 0;
}
header#top-header div#top-header-imgs {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
header#top-header div#top-header-imgs div#top-header-earth {
  width: 1000rem;
  height: 1000rem;
  border-radius: 50%;
  background-color: #9c7149;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -15%);
}
header#top-header div#top-header-imgs div#top-header-plane-window {
  width: 400rem;
  height: 550rem;
  border: 5rem solid #555555;
  border-radius: 130rem;
  background-color: #eee;
  box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 15%;
}
header#top-header div#top-header-imgs div#top-header-plane-window div.window {
  width: 300rem;
  height: 450rem;
  border-radius: 80rem;
  background-color: #74dfb2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
header#top-header div#top-header-imgs div#top-header-plane-window div.window div.window-curtain {
  width: 288rem;
  height: 438rem;
  border-radius: 64rem;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  box-shadow: 0 0 15rem 0 rgba(0, 0, 0, 0.7);
}
header#top-header div#top-header-imgs div#top-header-plane-window div.window div.window-curtain div.curtain-handle {
  width: 30%;
  height: 10rem;
  background-color: #bbb;
  border-radius: 5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
  box-shadow: 0 0 8rem 0 rgba(75, 75, 75, 0.4) inset;
}
header#top-header div#top-header-imgs div#top-header-plane-window div.window div.window-curtain div.curtain-handle div.curtain-light {
  width: 20rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: #0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header#top-header div#top-header-imgs div#top-header-plane-window div.window div.window-inner-border {
  width: 300rem;
  height: 450rem;
  border: 8rem solid #999999;
  border-radius: 80rem;
  box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.5) inset;
  position: absolute;
}
header#top-header div#top-header-content {
  position: absolute;
  left: 300rem;
  top: 250rem;
}
header#top-header div#top-header-content div#top-header-title {
  position: relative;
  background-color: #fff;
  font-size: 80rem;
  font-weight: 500;
  font-family: "Merriweather", "Tahoma", "Trebuchet MS", "Helvetica", "Yuanti SC";
}
header#top-header div#top-header-content div#top-header-title p {
  position: relative;
  display: flex;
}
header#top-header div#top-header-content div#top-header-title p:first-child {
  width: 50%;
}
header#top-header div#top-header-content div#top-header-title p:last-child {
  width: 100%;
}
header#top-header div#top-header-content div#top-header-title span {
  position: relative;
}
header#top-header div#top-header-content div#top-header-title span.space {
  width: 30rem;
  background-color: black;
}
header#top-header div#top-header-content div#top-header-title span.word {
  overflow: hidden;
  background-color: grey;
}
header#top-header div#top-header-content div#top-header-title span.word i {
  position: relative;
  top: 0rem;
}
header#top-header div#top-header-content div#top-header-text {
  width: 600rem;
  position: relative;
  margin-top: 50rem;
  font-size: 30rem;
  text-align: justify;
}
header#top-header div#top-header-content div#top-header-text div.tag-box {
  margin-top: 20rem;
  font-size: 25rem;
  color: #003e57;
}
header#top-header div#top-header-content div#top-header-text div.tag-box span.hashtag {
  margin-right: 5rem;
}
header#top-header::after {
  content: "";
  width: 100%;
  height: 1050rem;
  box-shadow: 0 -15rem 35rem -15rem rgba(129, 129, 129, 0.6) inset;
  position: absolute;
}
section#mid-main {
  width: 1500rem;
  margin: 60rem auto 0;
  position: relative;
  overflow: hidden;
}
section#mid-main div.mid-main-long-box {
  width: 1500rem;
  height: 450rem;
  border-radius: 30rem;
  margin: 40rem 0;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
section#mid-main div.mid-main-long-box div.long-box-shadow {
  border-radius: 30rem;
}
section#mid-main div.short-box-container {
  overflow: hidden;
}
section#mid-main div.mid-main-short-box {
  width: 710rem;
  height: 450rem;
  border-radius: 30rem;
  margin: 40rem 0;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
section#mid-main div.mid-main-short-box div.short-box-shadow {
  border-radius: 30rem;
}
section#mid-main div.left-box {
  float: left;
}
section#mid-main div.right-box {
  float: right;
}
section#mid-main div.main-box-shadow {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20rem 0 rgba(0, 0, 0, 0.4) inset;
  position: absolute;
  top: 0;
  left: 0;
}
section#mid-main div#current-job img.apple-logo {
  width: 350rem;
  position: absolute;
  top: 50%;
  transform: translate(-20%, -50%);
}
section#mid-main div#current-job div.current-job-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(0, -50%);
}
section#mid-main div#current-job div.current-job-content div.job-company {
  font-size: 90rem;
  font-weight: 600;
  margin-bottom: 20rem;
}
section#mid-main div#current-job div.current-job-content div.job-title {
  font-size: 60rem;
}
section#mid-main div#current-job div.current-job-content div.job-location,
section#mid-main div#current-job div.current-job-content div.job-duration {
  font-size: 30rem;
}
section#mid-main div#current-job img.badge {
  width: 260rem;
  position: absolute;
  right: 2%;
  transform: translateY(-5%);
}
section#mid-main div.short-box-content {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}
section#mid-main div.short-box-content div.short-box-text-1 {
  font-size: 60rem;
  font-weight: 800;
  margin-bottom: 30rem;
}
section#mid-main div.short-box-content div.short-box-text-2,
section#mid-main div.short-box-content div.short-box-text-3,
section#mid-main div.short-box-content div.short-box-text-4 {
  font-size: 30rem;
}
section#mid-main img.short-box-img {
  width: 300rem;
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translateY(-50%);
}
footer {
  width: 1500rem;
  height: 400rem;
  margin: 30rem auto 0;
  position: relative;
}
footer div#footer-animoji {
  height: 340rem;
  position: absolute;
  bottom: 0;
  left: 15%;
}
footer div#footer-animoji img {
  height: 100%;
}
footer div#footer-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20%;
}
footer div#footer-content div.footer-title {
  text-align: center;
  font-size: 80rem;
}
footer div#footer-content div.footer-text {
  text-align: center;
  font-size: 23rem;
}
